// TOEDIT main color
$_primary: #F55D0E; // new

// TOEDIT background color
$_bg_color: #000000; // new


$text-color: rgba(255, 255, 255, 0.815);
$_white: rgba(236, 239, 255, 0.952);
$success-color: #74c05a;
$error-color: #f21717;
$light-gray: #f2f5fa;
$gray: #cccccc;

$gutter-size: 10px;
$border-radius: 0.4rem;

